In [1]:
import pandas as pd

In [2]:
hgnc_df = pd.read_csv("input/hgnc_approved_symbol.tsv", sep="\t").drop(
    columns=["Status"]
)
hgnc_df.head()

  Approved symbol             Previous symbols Gene group ID  NCBI Gene ID
0            A1BG                          NaN           594           1.0
1        A1BG-AS1  NCRNA00181, A1BGAS, A1BG-AS          1987      503538.0
2            A1CF                          NaN           725       29974.0
3           A1S9T                          NaN           NaN           NaN
4             A2M                          NaN          2148           2.0

In [3]:
hgnc_df = (
    hgnc_df.rename(
        columns={
            'Approved symbol': 'Approved_symbol',
            'Previous symbols': 'Previous_symbols',
            'Gene group ID': 'Gene_group_ID',
            'NCBI Gene ID': 'NCBI_Gene_ID'
        }
    )
)

hgnc_df["NCBI_Gene_ID"] = hgnc_df["NCBI_Gene_ID"].astype("Int64")
hgnc_df["NCBI_Gene_ID"] = hgnc_df["NCBI_Gene_ID"].astype("str")

hgnc_df.head()

  Approved_symbol             Previous_symbols Gene_group_ID NCBI_Gene_ID
0            A1BG                          NaN           594            1
1        A1BG-AS1  NCRNA00181, A1BGAS, A1BG-AS          1987       503538
2            A1CF                          NaN           725        29974
3           A1S9T                          NaN           NaN         <NA>
4             A2M                          NaN          2148            2

In [4]:
# Process Previous symbols

hgnc_df["Previous_symbols"] = hgnc_df["Previous_symbols"].str.split(", ").str.join('|')
hgnc_df.head()

  Approved_symbol           Previous_symbols Gene_group_ID NCBI_Gene_ID
0            A1BG                        NaN           594            1
1        A1BG-AS1  NCRNA00181|A1BGAS|A1BG-AS          1987       503538
2            A1CF                        NaN           725        29974
3           A1S9T                        NaN           NaN         <NA>
4             A2M                        NaN          2148            2

In [5]:
hgnc_df.to_csv('output/hgnc_approved_symbol_processed.tsv', sep='\t', index=False)