In [1]:
import pandas as pd
import numpy as np

In [2]:
homologues_df = pd.read_csv(
    "input/homologene.data.tsv",
    sep="\t",
    names=[
        "HID",
        "Taxonomy_ID",
        "Gene_ID",
        "Gene_Symbol",
        "Protein_gi",
        "Protein_accession",
    ],
).rename(columns={"Gene_Symbol": "Symbol"})
homologues_df.head()

   HID  Taxonomy_ID  Gene_ID Symbol  Protein_gi Protein_accession
0    3         9606       34  ACADM     4557231       NP_000007.1
1    3         9598   469356  ACADM   160961497    NP_001104286.1
2    3         9544   705168  ACADM   109008502    XP_001101274.1
3    3         9615   490207  ACADM   545503811    XP_005622188.1
4    3         9913   505968  ACADM   115497690    NP_001068703.1

In [3]:
homologues_df = homologues_df.groupby("Symbol").Taxonomy_ID.unique().reset_index()

In [4]:
homologues_df = homologues_df.assign(
    human=lambda x: x.apply(
        lambda y: True if 9606 in y["Taxonomy_ID"] else False, axis=1
    )
).assign(HID_size=lambda x: x.apply(lambda y: len(y["Taxonomy_ID"]), axis=1))

In [5]:
homologues_df["Homologue"] = np.where(homologues_df["HID_size"] > 1, True, False)

In [6]:
homologues_df.query("human == True").reset_index(drop=True)[
    ["Symbol", "Homologue"]
].to_csv("output/homologues.tsv", sep="\t", index=False)