In [1]:
import pandas as pd
from scipy.stats import rankdata

In [2]:
similarity_df = pd.read_parquet("cos_sim/cosine_similarities_genes_crispr.parquet")

In [3]:
similarity_stacked = (
    similarity_df.stack()
    .reset_index()
    .rename(columns={0: "cosine_similarity", "level_0": "gene_1", "level_1": "gene_2"})
    .query("gene_1 != gene_2")
)

similarity_stacked["percentile"] = rankdata(similarity_stacked["cosine_similarity"], method="ordinal")/len(similarity_stacked)
similarity_stacked.head()

  gene_1    gene_2  cosine_similarity  percentile
1  PALS2   SEPTIN1           0.066599    0.641504
2  PALS2     AFG2B           0.226660    0.925558
3  PALS2    MRPL58          -0.096645    0.221103
4  PALS2  TAFAZZIN           0.060595    0.625929
5  PALS2     MARS1          -0.140241    0.142744

In [4]:
similarity_percentile_df = similarity_stacked.pivot(index="gene_1", columns="gene_2", values="percentile").fillna(0)
similarity_percentile_df.head()

gene_2,A4GALT,AACS,AADAT,AAK1,AANAT,AARS1,AASDH,AATF,AATK,ABAT,...,ZSCAN10,ZSCAN12,ZSCAN16,ZSCAN2,ZSCAN21,ZSCAN25,ZSCAN31,ZSCAN4,ZSCAN5A,ZSCAN9
gene_1,,,,,,,,,,,,,,,,,,,,,
A4GALT,0.000000,0.956611,0.040863,0.646204,0.113226,0.980314,0.951471,0.235837,0.743494,0.828017,...,0.986084,0.619854,0.487808,0.194184,0.835169,0.500557,0.502614,0.068371,0.241509,0.788580
AACS,0.956610,0.000000,0.263784,0.236728,0.191331,0.529078,0.219577,0.311297,0.989264,0.796531,...,0.969102,0.673179,0.718597,0.005354,0.926372,0.102361,0.051015,0.005434,0.549397,0.873523
AADAT,0.040863,0.263784,0.000000,0.187577,0.833003,0.039649,0.008178,0.744585,0.522190,0.084082,...,0.047004,0.509303,0.170916,0.246720,0.135991,0.247696,0.022651,0.717574,0.719565,0.337361
AAK1,0.646204,0.236728,0.187577,0.000000,0.559552,0.922456,0.926214,0.752708,0.632278,0.284540,...,0.862083,0.092347,0.532198,0.823551,0.798650,0.713974,0.986976,0.434947,0.363061,0.798961
AANAT,0.113225,0.191331,0.833003,0.559552,0.000000,0.395323,0.370517,0.335267,0.494167,0.022834,...,0.261919,0.115310,0.548639,0.116983,0.162325,0.703959,0.727431,0.647149,0.898916,0.142583

In [5]:
similarity_percentile_df.to_parquet("cos_sim/cosine_similarities_percentile_genes_crispr.parquet")