In [1]:
import pandas as pd

Quickly check the knowledge graph values for some pairs of genes.

In [2]:
# Add knowledge graph information and filter out any connections with low knowledge graph scores

knowledge_graph = pd.read_csv(
    "~/Downloads/orf_scores_merged.zip",
    sep="\t",
    usecols=["GENE1", "GENE2", "gene_mf__go", "gene_bp__go", "gene_pathway"],
).rename(
    columns={
        "GENE1": "gene_1",
        "GENE2": "gene_2",
        "gene_mf__go": "gene_mf",
        "gene_bp__go": "gene_bp",
    }
)

In [3]:
knowledge_graph.query("gene_1 == 'CNN1' & gene_2 == 'CNN2'")

        gene_1 gene_2  gene_mf  gene_bp  gene_pathway
7344111   CNN1   CNN2    0.259    0.286          0.31

In [4]:
knowledge_graph.query("gene_1 == 'CORO2B' & gene_2 == 'CORO2A'")

          gene_1  gene_2  gene_mf  gene_bp  gene_pathway
12944482  CORO2B  CORO2A    0.343    0.236         0.187

In [5]:
knowledge_graph.query("gene_1 == 'VGLL3' & gene_2 == 'VGLL4'")

         gene_1 gene_2  gene_mf  gene_bp  gene_pathway
16981040  VGLL3  VGLL4    0.064    0.081         0.088