In [68]:
import pandas as pd
import numpy as np

In [69]:
df = pd.DataFrame(
    {
        "a": [1, 2, 3, 4],
        "b": [4, 5, 6, 7],
        "c": [7, 8, 9, 10],
        "d": [10, 11, 12, 13],
    },
    index=["a", "b", "c", "d"],
)

df

   a  b   c   d
a  1  4   7  10
b  2  5   8  11
c  3  6   9  12
d  4  7  10  13

In [70]:
test = df.stack().reset_index()

In [71]:
largest = test.nlargest(3, 0)
smallest = test.nsmallest(3, 0)

print(largest)
print(smallest)

   level_0 level_1   0
15       d       d  13
11       c       d  12
7        b       d  11
  level_0 level_1  0
0       a       a  1
4       b       a  2
8       c       a  3

In [72]:
largest_genes = list(np.unique([largest["level_0"], largest["level_1"]]))
largest_genes

['b', 'c', 'd']

In [73]:
smallest_genes = list(np.unique([smallest["level_0"], smallest["level_1"]]))
smallest_genes

['a', 'b', 'c']

In [74]:
largest_matrix = df.loc[largest_genes, largest_genes]
largest_matrix

   b   c   d
b  5   8  11
c  6   9  12
d  7  10  13

In [75]:
smallest_matrix = df.loc[smallest_genes, smallest_genes]
smallest_matrix

   a  b  c
a  1  4  7
b  2  5  8
c  3  6  9